* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

body {
    background: hsl(210, 46%, 95%);
}

.container {
    position: relative;
    max-width: 1440px;
    height: 97vh;
    margin: 0 auto;
}

.apparel {
    display: flex;
    width: 100%;
    height: 800px;
    &__left-side {
        max-width: 830px;
        width: 100%;
        height: inherit;
        background: url('../img/bg-pattern-desktop.svg'),  linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }
    &__wrap {
        width: 445px;
        margin-top: 65px;
        margin-left: 165px;
    }
    &__big-text {
        text-transform: uppercase;
        margin-top: 130px;
        font-size: 60px;
        letter-spacing: 20px;
        color: hsl(0, 6%, 24%);
        font-weight: 700;
        span {
            font-size: 60px;
            font-weight: 300;
            color: hsl(0, 36%, 70%);
        }
    }
    &__small-text {
        margin-top: 20px;
        line-height: 25px;
        color: hsl(0, 36%, 70%);
    }
    &__right-side {
        width: 100%;
        max-width: 610px;
        background-image: url('../img/hero-desktop.jpg');
    }
    &__input-wrap {
        position: relative;
        margin-top: 50px;
    }
    &__input {
        width: 445px;
        height: 55px;
        padding: 0 35px;
        border-radius: 30px;
        color: #000;
        border: 1px solid hsl(0, 36%, 70%);
        outline: none;
        background: transparent;
        opacity: 0.7;
        &::placeholder {
            color: hsl(0, 36%, 70%);
        }
        &_error {
            &:focus {
                border: 2px solid;
                border-color: red;
            }
        }
    }
    &__invalid {
        display: none;
        font-size: 14px;
        color: hsl(0, 93%, 68%);
        margin-top: 10px;
        margin-left: 35px;
        &_show {
            display: block;
        }
    }
    .btn {
        position: absolute;
        right: 0;
        width: 100px;
        height: 55px;
        border-radius: 30px;
        border: none;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        cursor: pointer;
        transition: .2s all;
        &:hover {
            opacity: 0.7;
            box-shadow: 0px 15px 20px rgba($color: hsl(0, 36%, 70%), $alpha: .7);
        }
    }
}